body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background-color:#f4f4f4;
}

header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:50px;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

h2{
    color:#0d6efd;
}

button{
    background:#198754;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#146c43;
}
